/*!* Remove the margin in all browser*!*/

/*body {*/
/*    margin: 0;*/
/*}*/
/*!* remove the gray background on active links*!*/

/*a{*/
/*    background-color: transparent;*/
/*}*/
/*!* add the correct font size in all browsers*!*/
/*small {*/
/*    font-size: 80px;*/
/*}*/
/* =============== HEADER =============== */

header {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin: 0;
}

nav .link-wrapper {
    display: inline-block;
    padding: 5px;
}

nav .link-wrapper.active {
    border: 2px solid #21006d;
    font-weight: bold;
}

/* =============== MAIN =============== */

main {
    margin-top: 50px;
    min-height: calc(100vh - 200px);
}

.wrapper {
    width: 800px;
    box-sizing: border-box;
    max-width: 100%;


}

.block {
    border-bottom: 6px dotted #efefef;
    padding: 15px 0;
    margin-bottom: 15px;
}

.review {
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;

}

.img {
    width: 100px;
    height: 40%;
    object-fit: cover;

    filter: grayscale(50%);

    /*    max-width: 100%;*/
    /*    padding: 5px;*/
}


.striked {
    text-decoration: line-through;
}

/*iframe {*/
/*    display: flex;*/
/*    height: 300px;*/
/*    width: 100%;*/
/*}*/
.bg-image {
    background-image: url("../image/taxi.jpg");
    height: 300px;
    width: 100%;
    background-size: cover;
}

.services-container {
    margin: 20px;
    height: 400px;
    max-width: 800px;
    display: flex;
    align-items: center;
}

.service-container {
    border: solid grey 1px;
    width: 50%;
    margin: 5px;
    height: 380px;
    text-align: center;
}

/* =============== TABLE =============== */

table {
    padding: 15px;
    border: 1px solid #e1e1e1;
}


/* =============== MODAL =============== */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.modal .wrapper {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal .close:hover,
.modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* =============== FORM =============== */

form .field-wrapper {
    margin-bottom: 1.5rem;
}

form .field-error, form .error {
    color: red;
}

form .message-wrapper {
    margin-bottom: 2em;
}

form button {
    transition: all 0.5s ease;
}

form.success button {
    font-size: 0;
    background: #21006d;
}

form.success button:after {
    font-size: 20px;
    content: '✔';
}

/* =============== FOOTER =============== */

footer {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

iframe {
    height: 300px;
    width: 100%;
    display: flex;
}

@media screen and(max-width: 400px) {
    header {
        width: auto;
    }

    .bg-image {
        height: 150px;

        }

    .service-container {
        flex-direction: column;
        margin: 20px 0;
        object-fit: cover;
        height: auto;
    }
    nav {
        width: 100px;
    }
}